body {
    margin: 0px;
    width: 100%;
    background: #f5f5f5;
}

* {
    font-family: "Biryani", "Times New Roman", sans-serif;
    color: #363636
}

main {
    position: absolute;
    width: calc(100% - 140px);
    height: 100%;
    margin: 0px 0px 0px 140px;
}

nav {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0px;
    margin: 0px, 5px;
    width: 120px;
    height: 100%;
    background-color: #ffffff; 
    box-shadow: rgba(0,0,0,0.05);
}

.blue-border {
    border-left: 5px solid #8ED1DC;
    padding: 2px 2px;
}

h1 {
    box-shadow: rgba(0,0,0,0.05);
}

ul {
    list-style-type: none;
    max-width: 60px;
    display: inline-block;
    margin: 90px 0px;
    padding: 5px 5px;
    height: 60%;
}

#logo {
    top: 0;
    left: 0;
    width: 120px;
    padding: 5px 5px;
}

li img {
    width: 80px;
    margin: 5px 5px;
    height: 100px;
}

.welcome-button {
    position: absolute;
    width: 44%;
    height: 75px;
    padding: 10px 30px;
    text-align: left;
    font-size: 21px;
    background-image: linear-gradient(to right,#8ED1DC , #E3F4F6);
    border-radius: 4px 4px;
    z-index: 9;
    box-shadow: rgba(0,0,0,0.05);
}

.close-button {
    position: relative;
    background: transparent;
    border: 1px #d3d3d3;
    left: 535px;
    size: 25px;
    z-index: 10;
}

.summary {
    position: relative;
    width: 43.5%;
    top: 75px;
    color: #d3d3d3;
}

.mainInfo {
    display: inline-block;
    background: #ffffff;
    padding: 5px 15px;
    border-radius: 4px;
}

.income {
    width: 120px;
    text-align: left;
    box-shadow: rgba(0,0,0,0.05);
}

.expenses {
    position: absolute;
    right: 210px;
    height: 95px;
    width: 120px;
    text-align: left;
    box-shadow: rgba(0,0,0,0.05);
}

.credit {
    float: right;
    width: 120px;
    height: 95px;
    text-align: left;
    box-shadow: rgba(0,0,0,0.05);
}

.mainInfo section {
    font-size: 20px;
}

h2 {
    display: inline-block;
    position: relative;
    background: transparent;
    width: 44%;
    height: 90px;
    top: 90px;
    box-shadow: rgba(0,0,0,0.05);
}

.manage-button {
    float: right;
    background: #1CA3BA;
    border-radius: 20px 20px;
    width: 33%;
    height: 45px;
    color: #ffffff;
    font-size: 15px;
}

.acct-summary img {
    width: 45px;
    
}

.acct-summary {
    position: relative;
    height: 400px;
    top: 55px;
    width: 42%;
    box-shadow: rgba(0,0,0,0.05);
}

.bottom {
    background: #ffffff;
    position: absolute;
    width: 100%;
    border-radius: 5px 5px;
    padding: 10px 10px;
    box-shadow: rgba(0,0,0,0.05);
}

.checking{
    top: -4%;
    box-shadow: rgba(0,0,0,0.05);
}

.savings {
    top: 19%;
    box-shadow: rgba(0,0,0,0.05);
}

.credit-card {
    top: 44%;
    box-shadow: rgba(0,0,0,0.05);
}

.credit-cardtwo {
    top: 69%;
    box-shadow: rgba(0,0,0,0.05);
}

span {
    position: relative;
    left: 11%;
    bottom: 11px;
    font-size: 17px;
}

.last-span {
    position: relative;
    float: right;
    width: 100px;
    text-align: left;
    left: -10%;
    top: 11px;
}

.aside {
    position: relative;
    float: right;
    right: -3%;
    height: 600px;
    bottom: 660px;
    width: 50%;
    padding: 15px 10px;
    margin: 0px 70px 0px 0px;
    background: #ffffff;
    box-shadow: rgba(0,0,0,0.05);
}

.otherh2 {   
    position: relative;
    right: 0px;
    top: -20px;
}

.right-tab {
    position: relative;
    text-align: center;
    float: right;
    background: #1CA3BA;
    border-radius: 20px 20px;
    width: 31%;
    height: 50px;
    color: #ffffff;
    font-size: 15px;
}

.banking-table {
    position: relative;
    bottom: 70px;
    height: 520px;
    text-align: left;
    border-collapse: collapse;
    border-radius: 3px 3px;
}

table {
    width: 100%;
    border-collapse: collapse;
    height: 100%;
    padding: 2px;
}

td {
    border-bottom: 1px groove #CCCCCC;
}

/* STYLING FOR PAGE 2 */

.main-transactions {
    margin: 0px 0px 0px 0px;
    height: 82%
}

.h1-transactions {
    position: relative;
    top: 12px;
    width: 200px;
}
 
.transactions-buttons {
    position: absolute;
    padding: 10px 10px;
    width: 370px;
    top: 33px;
    left: 292px;
    
}

.all-button {
    border-radius: 20px 20px;
    background: #1CA3BA;
    width: 120px;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}

.inflow-button {
   border-radius: 20px 20px;
    background: #ffffff;
    width: 120px;
    height: 40px;
    color:  #1CA3BA;
    font-size: 16px;
}

.outflow-button {
    border-radius: 20px 20px;
    background: #ffffff;
    width: 120px;
    height: 40px;
    color: #1CA3BA;
    font-size: 16px;
}

.full-transactions {
    background: #ffffff;
    margin: 0px 50% 0px 0px;
    padding: 10px 10px;
    width: 58%;
    border-radius: 8px 5px; 
    text-align: left;
} 

#last-line-table {
    border-bottom: none; 
}

.transactions-aside {
    border: 1px solid red;
    position: relative;
    float: right;
    background: #ffffff;
    width: 45%;
    bottom: 100%;
    left: 7%;
    height: 100%;  
    text-align: center;
    border-radius: 5px 5px;
}

.new-transaction {
    border: 1px solid brown;
    position: absolute;
    width: 52%;
    height: 11%;
    top: 0%;
    left: 27%;

}

.transactions-menu {
      position: relative;
  height: 100%;
  text-align: left;
  padding: 37px;
  top: 2%;
}

.options {
    width: 100%;
}